---
layout: page
title: Jetson
header: Course Development
group: projects
author_ids: [jspjut, relminyawi, afishberg, knlau, mngai, rpiersall, dshim]
---
{% include JB/setup %}

<div class="col-md-7">

<p>
A new course is being developed to use the NVIDIA Jetson TK1 board to
use traditional game controller input as well as novel human computer
interfaces to control games.
The intent is to also exploit the massive parallel computation
available in the GPU for image processing tasks.
</p>

<p>
The tentative plan for the class is to have 6 or 7 labs followed by an
open-ended group project.
The planned labs are as follows:
</p>

<ol>
<li>Build a USB game controller</li>
<li>Develop firmware for the game controller</li>
<li>Plug the game controller in to a Jetson TK1, and get it to control
  a video game, and expand the video game's functionality</li>
<li>Use CUDA to add motion blur to the video game</li>
<li>Use a webcam to capture video data from the user + CUDA to get
  gesture input</li>
<li>Use gesture controls to add new human interactions</li>
</ol>

<p>Some miscellaneous notes follow:</p>

<ul>
<li><a href="http://www.ebay.com/sch/i.html?_fspt=1&LH_CAds=&_udlo=&_sadis=&_sacat=&_fpos=&_mPrRngCbx=1&_udhi=&_nkw=Rocketfish+HD+Webcam+Pro">Possible
    webcam</a></li>
</ul>

<h2>Recent Blog Posts</h2>
{% for category in site.categories %}
  {% if category[0] == "jetson" %}
    {% assign pages_list = category[1] %}
    {% include JB/pages_list %}
  {% endif %}
{% endfor %}

<ul class="tag_box inline"><li><a href="{{ site.url }}/categories.html#jetson-ref">jetson</a></li></ul>

</div>

<div class="col-md-5">
<h2>People</h2>
<div class="authors">
  {% include custom/author_list %}
</div>
</div>
