---
layout: page
title: Sphynx
header: SPMD Instruction Cache Research
group: pastprojects
author_ids: [abagaria, fhannan, pjolly, dhpark, estorm, jspjut]
---
{% include JB/setup %}

<div class="col-md-7">

<p>
The Sphynx project is an investigation of instruction cache design
with respect to the growing number of parallel single program
applications in the world.
When a single application is executed by a number of independent
threads, the instruction cache can be reasonably shared.
In this project, we examine the performance characteristics of a
variety of such applications and vary the cache configuration to see
which design is optimal.
</p>

<h2>Publication</h2>
<ul>
<li><a href="None">Dong-hyeon Park</a>, <a href="None">Akhil Bagaria</a>, <a href="None">Fabiha Hannan</a>, <a href="None">Eric Storm</a>, <strong><a href="http://josef.spjut.me">Josef Spjut</a></strong>;
<strong>Sphynx: A Shared Instruction Cache Exporatory Study</strong>,
<em>Tech Report, arXiv:1412.1140</em>,
December 3, 2014.
<a href="http://arxiv.org/abs/1412.1140">paper</a> <a class="ec" href="javascript:" onclick="e=document.getElementById('bibtr2').style;e.display=(e.display=='block'?'none':'block')">Bibtex</a><span id="bibtr2" class="b" style="display: none;"><pre>@inproceedings{parkbagaria14,
 author = { Dong-hyeon Park and Akhil Bagaria and Fabiha Hannan and Eric Storm and Josef Spjut },
 title = { {Sphynx: A Shared Instruction Cache Exporatory Study} },
 year = {2014},
 booktitle = {Tech Report, arXiv:1412.1140}
}
</pre></span></li>
</ul>


<h2>Recent Blog Posts</h2>
{% for category in site.categories %}
  {% if category[0] == "sphynx" %}
    {% assign pages_list = category[1] %}
    {% include JB/pages_list %}
  {% endif %}
{% endfor %}

<ul class="tag_box inline"><li><a href="{{ site.url }}/categories.html#sphynx-ref">sphynx</a></li></ul>

</div>

<div class="col-md-5">
<h2>People</h2>
<div class="authors">
  {% include custom/author_list %}
</div>
</div>
